@using Domain.Entities
@inherits UiComponentBase

<div class="grid @ColumnClass">
    @foreach (var row in Grid.Data.Take(1))
    {
        foreach (var col in row)
        {
            <span class="font-bold">@col</span>
        }
    }

    @foreach (var row in Grid.Data.Skip(1))
    {
        @foreach (var col in row)
        {
            <span class="text-primary divide-y divide-gray-50">@col</span>
        }

    }

</div>

@code {

    [Parameter, EditorRequired]
    public GridComponent Grid { get; set; } = null!;

    private string ColumnClass => Grid.Dimensions.Y switch
    {
        0 => "grid-cols-2",
        -1 or 1 => "grid-cols-1",
        2 => "grid-cols-2",
        3 => "grid-cols-3",
        _ => throw new NotImplementedException()
    };

}