@page "/create"

<div class="w-full">
    <section id="component-list">

    </section>

    <section id="form-editor">

    </section>

    <section id="preview">

    </section>
</div>

@code {
    
}