@page "/"
@using Client.Services
@using Domain.Aggregates
@inject FormApiClient Api

<PageTitle>Home</PageTitle>

<Card>
    <CardHeader>
        <CardTitle>Welcome to the form builder app!</CardTitle>
        <CardDescription>To get started, click the button below to create a new form, or check out some examples!</CardDescription>
    </CardHeader>
    <CardContent>
        <div class="grid grid-cols-2 gap-2">
            <Button @onclick="CreateForm">
                <Blazicon Svg="@Icons.Plus"/>
                Create new form
            </Button>

            <Button Href="/my_forms" Variant="outline">
                <Blazicon Svg="@Icons.ClipboardList"/>
                My forms
            </Button>
        </div>
    </CardContent>
</Card>

@code {
    private async Task CreateForm()
    {
        var form = new UserForm
        {
            Id = Guid.NewGuid(),
            Name = "New form",
        };

        await Api.Create(form, CancellationToken);
        NavigationManager.NavigateTo($"/edit/{form.Id}");
    }
}